
.section-contact {
    background: linear-gradient(to bottom,#4A00E0, #8E2DE2);
    min-height: 80vh;
    color: #ffffff;
    text-align:start;
    width: 100%;
    padding-top: 10%;
    padding-left: 10%;
    
    
}