* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.section-skill {
    background: linear-gradient(to right, #5106a9,#7667f6);
    min-height: 50vh;
    color: #ffffff;
    text-align:start;
    width: 100%;
    padding-top: 5px;
    padding-left: 10%;
    
    
}

.skills {
    height: 5.0rem ;
    object-fit: contain;
    padding-top: 10px;
} 