
.section-projets {
    background: linear-gradient(to right, #030328,#340f56);
    min-height: 50vh;
    color: #ffffff;
    text-align:start;
    width: 100%;
    padding-top: 5px;
    padding-left: 10%;
    
}

.card {
    width: 14rem;
    color: black;
}
