* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.section-about {
    min-height: 80vh;
    color: #ffffff;
    text-align:start;
    width: 100%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    background: linear-gradient(to bottom, #8E2DE2,#4A00E0);
    
}

.imagen {
    height: 20.0rem;
    object-fit: contain;
    border-radius: 100%;
    padding-top: 20px;
    
}

