
.section-projects {
    min-height: 50vh;
    color: #ffffff;
    text-align:start;
    width: 100%;
    padding-top: 5px;
    padding-left: 10%;
    
}

.card {
    width: 14rem;
    color: black;
}

.section-projects .heading{
    font-size: 50px;
    font-weight: bold;
}

